.section {
    display: flex;
    flex-direction: column;

    width: 18vw;
    height: auto;

    margin-bottom: 2vw;
    cursor: pointer;
}

.cardImg {
    background-color: rgb(255, 255, 255);
    height: 24vw;
    display: flex;
    justify-content: center;
    border-radius: 0.8vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.150s;
}.cardImg:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.section img {
    align-self: center;
    width: 10vw;
    height: auto;
}


.section strong:nth-of-type(1) {
    color: white;
    margin-top: 1vw;
    font-size: 1.3rem;
}

.section strong:nth-of-type(2) {
    color: rgb(255, 248, 219);

    font-size: 1rem;
}

.section strong:nth-of-type(3) {
    color: white;
    margin-top: 1vw;
    font-size: 1.3rem;
}