.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10.5vw;
    margin-right: 10.5vw;
    margin-top: 3.5vw;
    margin-bottom: 1.61vw;
}

.link {
    text-decoration: none;
}